/*body > ol > li, body > div > ol > li {
    color:teal;
    font-weight:bold;
    text-decoration:underline;
    padding-top: 30px
}*/

body {
    background: #ffffff;
    width: 60em;
}

pre {
    background: #000000;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.3;
    overflow-x: auto;
    overflow-y: auto;
}

pre.code {
    background: #fcf;
    color: #555;
    font-weight: bold;
    line-height: 1.6;
    overflow-x: auto;
    overflow-y: auto;    
}

blockquote {
    font-style: italic;
}

code {
    background: slategrey;
    color: white;
    overflow-x: auto;
    overflow-y: auto;
}

dl > dt {font-weight: bold;}
dl > dt, dl > dd {display: inline}
dl > dd::after {
    content: '\A';
    white-space: pre;
}

tt.message {
    background: rgb(180,180,180);
    color: white;
}

kbd {
    display:inline-block;
    margin:0 .1em;
    padding:.1em .6em;
    font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size:11px;
    line-height:1.4;
    color:#242729;
    text-shadow:0 1px 0 #FFF;
    background-color:#e1e3e5;
    border:1px solid #adb3b9;
    border-radius:3px;
    box-shadow:0 1px 0 rgba(12,13,14,0.2),0 0 0 2px #FFF inset;
    white-space:nowrap;
}

ol.pink-circles {
    display: block;
    padding: 0 0 0 26px;
    list-style: none;
    overflow: hidden;
    counter-reset: numList;
}
ol.pink-circles > li {
    margin-right: 0px;
    margin-left: 10px;
    padding-left: 10px;
    position: relative
}
ol.pink-circles > li:before {
    counter-increment: numList;
    content: counter(numList);


    position: absolute;
    left: -28;

    font: bold 14px sans-serif;
    text-align: center;
    color: #fff;
    line-height: 23px;

    width: 23px; height: 23px;
    background: #f0f;

    -moz-border-radius: 999px;
    border-radius: 999px
}