body {
    /*    background: white;*/
    background-image: url('bg.png');
    width: 60em;
    font-family: Helvetica, Lato, Raleway;
}

pre {
    background: #000000;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.3;
    overflow-x: auto;
    overflow-y: auto;
}

pre.code {
    background: powderblue;
    color: #555;
    font-weight: bold;
    line-height: 1.6;
    overflow-x: auto;
    overflow-y: auto;    
}

blockquote {
    font-style: italic;
    border: 0.5px solid gray;
    padding: 0.4em;
}

code {
    background: slategrey;
    color: white;
    overflow-x: auto;
    overflow-y: auto;
}

dl > dt {font-weight: bold;}
dl > dt, dl > dd {display: inline}
dl > dd::after {
    content: '\A';
    white-space: pre;
}

tt.message {
    background: rgb(180,180,180);
    color: white;
}

kbd {
    display:inline-block;
    margin:0 .1em;
    padding:.1em .6em;
    font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size:11px;
    line-height:1.4;
    color:#242729;
    text-shadow:0 1px 0 #FFF;
    background-color:#e1e3e5;
    border:1px solid #adb3b9;
    border-radius:3px;
    box-shadow:0 1px 0 rgba(12,13,14,0.2),0 0 0 2px #FFF inset;
    white-space:nowrap;
}

ol.main-list-items {
    display: block;
    padding: 0 0 0 26px;
    list-style: none;
    overflow: hidden;
    counter-reset: numList;
}


ol.main-list-items > li {
    font-size: 110%;
    font-weight: bold;
    background: #ffe0ff;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: 0.4em;
    padding-left: 10px;
    position: relative
}
ol.main-list-items > li:before {
    counter-increment: numList;
    content: counter(numList);
    position: absolute;
    left: -28;
    font: bold 14px sans-serif;
    text-align: center;
    color: #fff;
    line-height: 23px;
    width: 23px; height: 23px;
    background: #f0f;
    -moz-border-radius: 999px;
    border-radius: 999px
}


.nb {
    font-weight: bold;
    color: red;
}


xmp {border: 1px solid black;
     background-color: eee;}


/* dl dd dt one liner      -- START */
/* source: http://stackoverflow.com/a/21261303/274677 */
dl.one-line {
    display: flex;
    flex-direction: column;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
    overflow: visible;
}
dl.one-line > dt {
    flex-basis: 15%;
    flex-grow: 0;
    flex-shrink: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}
dl.one-line > dd {
    margin-left: auto;
    text-align: left;
    flex-basis: 85%;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-grow: 0;
    flex-shirnk: 0;
}

dl.one-line-15-85 > dt {
    flex-basis: 15%;
}
dl.one-line-15-85 > dd {
    flex-basis: 85%;
}

dl.one-line-20-80 > dt {
    flex-basis: 20%;
}
dl.one-line-20-80 > dd {
    flex-basis: 80%;
}

dl.one-line-25-75 > dt {
    flex-basis: 25%;
}
dl.one-line-25-75 > dd {
    flex-basis: 75%;
}
/* dl dd dt one liner      -- END   */

.tt {
    font-family: "Courier New", Courier, monospace;
}