body > ol > li, body > div > ol > li {
    color:teal;
    font-weight:bold;
    text-decoration:underline;
    padding-top: 30px
}

body {
    background: #ffffff;
}

pre {
    background: #000000;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.6;
    overflow-x: auto;
    overflow-y: auto;    
}

pre.code {
    background: #fcf;
    color: #555;
    font-weight: bold;
    line-height: 1.6;
    overflow-x: auto;
    overflow-y: auto;    
}

blockquote {
    font-style: italic;
}

code {
    background: slategrey;
    color: white;
    overflow-x: auto;
    overflow-y: auto;
}

dl > dt {font-weight: bold;}
dl > dt, dl > dd {display: inline}
dl > dd::after {
    content: '\A';
    white-space: pre;
}

tt.message {
    background: rgb(180,180,180);
    color: white;
}