body > ol > li {
    color:teal;
    font-weight:bold;
    text-decoration:underline;
    padding-top: 30px
}

body {
    background: #ffffff;
}

pre {
    background: #000000;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.6;
}

blockquote {
    font-style: italic;
}

code {
    background: slategrey;
    color: white;
}